*{margin: 0;padding: 0;}

.top{
    background: #eeeeee;
    padding: 5px 5px 5px 30px;

}


.login
{
    font-size: 15px;

}
.login:link
{
text-decoration: none;

    color: blue;

}


.login:visited
{
    text-decoration: none;
    color: green;

}
.login:hover
{
    text-decoration: none;
    color: red;

}

.logo1
{
    width: 50px;
    height:50px;
    display: block;
    margin:20px 50px;
    background: url("../img/logo.png") 0px 0px /50px 50px  no-repeat;

}

.search
{

    width:400px;
  position: absolute;
    left:250px;
    top:60px;


}

.search0
{
   border: 2px solid red;
    width:400px;


}

.search1
{
    width:30px;
}
.search2
{
    border: none;

}

.search3
{
    color: white;
    background: red;
    border: none;
   width:44px;
height: 20px;

}

.search4
{
    margin: 5px;
    color: gray;
    font-size: 12px;

}
.search4 li
{
    display: inline-block;
}


.nav-box{width:250px; margin: 30px;}
.nav-top{
    height:45px;
    font-size:16px;
    line-height:45px;
    padding:0 10px;
    background:#B1191A;
    color:#fff;
}
.nav-box ul{
    background-color:#B1191A;

}
.nav-box li
{
   list-style: none;

    height: 30px;
    line-height: 30px;
    font-size:14px;
    padding-left: 8px;;
    color: white;
    background:url("../img/bg.png") no-repeat 200px center;



}
.nav-box a{text-decoration:none;color: white}

