*{margin: 0;padding: 0;}

.top{
    background: #eeeeee;
    padding: 5px 5px 5px 30px;

}


.login
{
    font-size: 15px;

}
.login:link
{
text-decoration: none;

    color: blue;

}


.login:visited
{
    text-decoration: none;
    color: green;

}
.login:hover
{
    text-decoration: none;
    color: red;

}

.logo1
{
    width: 50px;
    height:50px;
    display: block;
    margin:20px 50px;
    background: url("../img/logo.png") 0px 0px /50px 50px  no-repeat;

}

.search
{

    width:400px;
  position: absolute;
    left:250px;
    top:60px;


}

.search0
{
   border: 2px solid red;
    width:400px;


}

.search1
{
    width:30px;
}
.search2
{
    border: none;

}

.search3
{
    color: white;
    background: red;
    border: none;
   width:44px;
height: 20px;

}

.search4
{
    margin: 5px;
    color: gray;
    font-size: 12px;

}
.search4 li
{
    display: inline-block;
}


.blank1{
    height: 30px;

}
/*
.blank2{
 position: absolute;
    width:100%;
    height: 398px;

    /*border: 1px solid green;

}
*/


/*所有商品分类-大框架*/
.nav-box
{
    font-size: 10px;
    width:220px;
     height: 430px;
    position: absolute;
    z-index:1;
    bottom:-2px;


}

/*所有商品分类-顶部*/
.nav-top{
    height:30px;
    font-size:15px;
    line-height:25px;
    padding:0 10px;
    padding-top: 2px;
    background:#B1191A;
    color:#fff;

}



/*所有商品分类-列表*/

.nav-box ul{



     background:#B1191A url("../img/nav.png")   no-repeat 0px 7px;
    background-size:10% 103%;
}



.nav-box li
{
   list-style: none;
    height: 33px;
    line-height:33px;
    font-size:14px;
    padding-left: 30px;
    padding-top: 0px;
    color: white;
    background:url("../img/bg.png") no-repeat 200px center;
    margin: 0px;


}
.nav-box a{text-decoration:none;color: white}

/*大广告图*/
.bg
{

    background:  red url("../img/banner.jpg") no-repeat ;
    width:100%;
    height: 398px;
    background-position:center;
   position:relative;

}

/*礼品和社区背景*/
.gift-bg{
   width: 260px;
    height: 398px;
    background: white;
    position: absolute;
    z-index:1;
    top:2px;
    right: 50px;
    font-size: 12px;

}

.gift-bg a{text-decoration:none}


/*礼品卡*/
.gift
  {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }

.gift li
{
display: inline-block;
    margin-right: 8px;

}
/*社区-----开始*/

.community
{
    text-align: left;
    margin-top: 10px;
    margin-bottom:10px;
padding-left: 5px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;


}

.community li
{
    list-style: none;
    margin: 15px;

}
/*社区---------结束*/

/*话费充值---------开始*/

.cost{

    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom:10px;
    padding-left: 10px;

}

.cost input[type="button"]
{
    color: red;
}

.cost input[type="submit"]
{
    color: white;
    background: red;
    border: none;
    height: 25px;
    width: 80px;
    line-height:25px;

    margin: 30px;

}

/*话费充值---------结束*/


/*----- 食品饮料   文字区域---------开始*/

.food-text
 {

    border-bottom: 2px solid red;
    height: 30px;
    position: relative;

 }
.food-text a{text-decoration:none}


.food-text>h5
{
    font-size: 16px;
    color: red;
}

.food-text ul
{
    list-style: none;

    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 5px;
}
.food-text li
{

    display: inline-block;
    margin: 5px;
}
/*----- 食品饮料   文字区域-------结束*/


.food{


}

.food>table{
    text-align: center;

    width: 100%;
}

/*
.ad {

    height: 100px;
    border: 1px solid green;

}
*/

.food-1-top a{text-decoration:none}

.food-1-top tr
{ height: 30px;
    line-height: 30px;

}

.food-1-top td
{
    width: 100px;
}

.sec1{
    border-top: 1px solid lightgray;

}

.sec1-2 {
    border-bottom: 1px solid lightgray;
}


.sec1-4 {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.sec1-5 {
    border-bottom: 1px solid lightgray;
}
